@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Var */
:root{
    --main-color: #3778FA;
    --font-logo: "Space Grotesk", sans-serif;
    --font-logo-weight: 500;
    --font-logo-size: 20px;

}

/* End of var */

/* Header*/
#header-site{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: var(--main-color);
    font-family: var(--font-logo);
    font-weight: var(--font-logo-weight);
    font-size: var(--font-logo-size);
    margin: 1rem 0 1rem 1.25rem;
}

#header-menu-hamburguer i{
    margin: 1.5rem 1.255rem 1.5rem 0;
    
}





/*End of the Header*/